.content-container{
    display: flex;
    padding: 0 1.5rem;
}

.aside{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    flex: 0 0 10rem;
    width: 10rem;
    margin-right: 5rem;
    margin-top: 1rem;
}

.side-heading{
    font-size: 2rem;
    
}

.side-heading a{
    color: var(--primary-color);
}

.sg-list li{
    list-style: none;
    margin: .5rem 0;
}
.sg-list li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    color: var(--secondary-color);
    padding-left: .5rem;
}
.sg-list li:active, .normal-inset-shadow{
    box-shadow: var(--normal-inset-shadow);
    border-radius: 5px;
}

@media screen and (max-width: 768px){
    .content-container{
        display: block;
    }

    .aside-container{
        display: none;
    }

    .aside{
        display: none;
        width: calc(100% - 2.5rem);
        margin: 0;
        position: absolute;
        z-index: 1;
        height: calc(100vh - 6rem); 
        overflow: auto;
        background: var(--bg-color);
        top: 6rem;
        left: 1.5rem;
        padding-bottom: 2rem;
    }
    
    .show{
        display: flex;
    }

    .body-overflow{
        overflow: hidden;
    }

    
}

@media screen and (max-width: 480px) {

.aside{
    font-size: 2rem;
  }
}