@import url(../../style.css);
@import url(../../css/aside.css);

.typo-div{
    flex-direction: column;
}

.font-link{
    color: var(--active-color);
    cursor: pointer;
}

.sm-text{
    font-size: 1rem;
}

.gray-text{
    color: lightslategray;
}

.center-text{
    text-align: center;
}