<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="modal.css" />
    <title>Modal | Neu UI</title>
  </head>
  <body>
    <div class="main-container">
      <header class="header">
        <div class="logo">
          <a href="../../index.html" class="logo-link">
            <img src="../../assets/Neu UI.png" alt="" />
          </a>
        </div>
        <nav class="links">
          <ul>
            <li><a href="#" class="normal-text-shadow">Docs</a></li>
            <li><a href="#" class="normal-text-shadow">GitHub</a></li>
            <div class="badge hamburger">
              <button class="hamburger-btn normal-shadow">
                <i class="fas fa-bars"></i>
              </button>
            </div>
          </ul>
        </nav>
      </header>
      <div class="content-container">
        <aside class="aside">
          <div class="style-guide side-heading">
            <a href="/Style Guide/Introduction/introduction.html"
              >Get Started</a
            >
          </div>
          <ul class="sg-list">
            <li>
              <a href="../../Style Guide/Introduction/introduction.html"
                >Introduction</a
              >
            </li>
            <li><a href="../../Style Guide/Colors/colors.html">Colors</a></li>
            <li>
              <a href="../../Style Guide/Typography/typography.html"
                >Typography</a
              >
            </li>
            <li>
              <a href="../../Style Guide/Conclusion/conclusion.html"
                >Conclusion</a
              >
            </li>
          </ul>
          <div class="style-guide side-heading">
            <a href="/Style Guide/Introduction/introduction.html">Components</a>
          </div>
          <ul class="sg-list">
            <li>
              <a href="../Avatar/avatar.html">Avatar</a>
            </li>
            <li>
              <a href="../Alert/alert.html">Alert</a>
            </li>
            <li><a href="../Badge/badge.html">Badge</a></li>
            <li>
              <a href="../Button/button.html">Button</a>
            </li>
            <li><a href="../Card/card.html">Card</a></li>
            <li>
              <a href="../Image/image.html">Image</a>
            </li>
            <li>
              <a href="../Input/input.html">Input</a>
            </li>
            <li>
              <a href="../Navbar/navbar.html">Navbar</a>
            </li>
            <li>
              <a href="../Ratings/ratings.html">Ratings</a>
            </li>
            <li>
              <a href="../Toast/toast.html">Toast</a>
            </li>
            <li>
                <a href="../Lists/lists.html">Lists</a>
              </li>
              <li class="normal-inset-shadow">
                <a href="../Modal/modal.html">Modal</a>
              </li>
          </ul>
        </aside>
        <main class="main-content">
          <article class="modal-article">
            <h1 class="modal-title">Modal</h1>
            <p class="modal-content">Use these classes to style your modal.</p>
            <div class="example-div">
              <div class="modal normal-shadow">
                <h5>Are you really sure you want to delete this?</h5>
                <p>This should display something here</p>
                <div class="modal-btns">
                  <button class="btn btn-secondary normal-shadow">
                    Cancel
                  </button>
                  <button class="btn btn-delete normal-shadow">Delete</button>
                </div>
              </div>
            </div>
            <div class="code-snippet">
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%2528165%252C205%252C213%252C1%2529&t=night-owl&wt=none&l=htmlmixed&width=743.1000002622604&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=15px&ph=25px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=133%2525&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522modal%2520normal-shadow%2522%253E%250A%2520%2520%253Ch5%253EAre%2520you%2520really%2520sure%2520you%2520want%2520to%2520delete%2520this%253F%253C%252Fh5%253E%250A%2520%2520%253Cp%253EThis%2520should%2520display%2520something%2520here%253C%252Fp%253E%250A%2520%2520%253Cdiv%2520class%253D%2522modal-btns%2522%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520normal-shadow%2522%253E%250A%2520%2520%2520%2520%2520%2520Cancel%250A%2520%2520%2520%2520%253C%252Fbutton%253E%250A%2520%2520%2520%2520%253Cbutton%2520class%253D%2522btn%2520btn-delete%2520normal-shadow%2522%253EDelete%253C%252Fbutton%253E%2520%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E%250A"
  style="width: 100%; height: 302px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
          </article>
          <footer class="footer">
            <div class="prev-comp">
              <a href="../Lists/lists.css">&lt; Lists</a>
            </div>
            <div class="next-comp">
              <a href="../Grid/grid.html">Grid &gt;</a>
            </div>
          </footer>
        </main>
      </div>
    </div>
  </body>
  <script
      src="https://kit.fontawesome.com/d7895d1006.js"
      crossorigin="anonymous"
    ></script>
  <script src="../../index.js"></script>
</html>
